MINECRAFT_CONTAINER_NAME=minecraft-server
MINECRAFT_QUERY_HOST=127.0.0.1
MINECRAFT_QUERY_PORT=25565
PODMAN_SOCKET=/run/user/1000/podman/podman.sock
PODMAN_BINARY=podman
MINECRAFT_WORLD_DIR=world
MINECRAFT_RCON_HOST=127.0.0.1
MINECRAFT_RCON_PORT=25575
MINECRAFT_RCON_PASSWORD=change-me
MINECRAFT_RCON_ALLOWLIST=list,whitelist,op,deop,ban,pardon,banlist,kick,say,save-all,stop
RCON_PASSWORD=change-me
